<ngb-carousel
    *ngIf="carouselData"
    [showNavigationArrows]="false"
    [interval]="4000"
    [pauseOnHover]="false"
     data-aos="fade-down"
>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <div
                [ngStyle]="{ 'background-image': 'url(' + 'assets/images/morrocoy_5.JPG' + ')' }"
                class="home-carousel-image"
            >
                <div class="image-gradient"></div>
            </div>
        </div>
        <!-- <div class="carousel-caption">
            <h3>Selecciona Tu Plan</h3>
            <p>Contamos con múltiples planes que se adaptan a tus necesidades</p>
            <div class="d-flex justify-content-center">
                <button class="btn-carousel">Familia</button>
                <button class="btn-carousel mx-2">Pareja</button>
                <button class="btn-carousel">Amigos</button>
            </div>
        </div> -->
    </ng-template>
    <ng-template ngbSlide *ngFor="let data of carouselData">
        <div class="picsum-img-wrapper">
            <div
                [ngStyle]="{ 'background-image': 'url(' + data.image + ')' }"
                class="home-carousel-image"
            >
                <div class="image-gradient"></div>
            </div>
        </div>
        <!-- <div class="carousel-caption">
            <h3>{{ data.title }}</h3>
            <p>{{ data.description }}</p>
            <button class="btn-carousel">Saber Más</button>
        </div> -->
    </ng-template>
</ngb-carousel>

<!-- SERVICES CIRCLES -->
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-sm-4 offset-sm-2 circle-box-margin">
            <div class="row box-service-circle" data-aos="fade-up">
                <div class="col-12 col-sm-6 d-flex justify-content-center">
                    <div class="service-image-circle yate-img"></div>
                </div>
                <div
                    class="col-12 col-sm-6 d-flex flex-column justify-content-center"
                >
                    <h4 class="service-section-title">Embarcaciones</h4>
                    <p class="service-section-text mt-2">
                        Peñeros, lancha, catamaranes y yates disponibles para disfrutar los mejores días de playa.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-4 circle-box-margin">
            <div class="row box-service-circle" data-aos="fade-up">
                <div class="col-12 col-sm-6 d-flex justify-content-center">
                    <div class="service-image-circle posada-img"></div>
                </div>
                <div
                    class="col-12 col-sm-6 d-flex flex-column justify-content-center"
                >
                    <h4 class="service-section-title">Alojamiento</h4>
                    <p class="service-section-text mt-2">
                        Las mejores opciones de alojamiento de la zona, desde casas vacacionales hasta las mejores posadas y hoteles.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-4 offset-sm-2 circle-box-margin">
            <div class="row box-service-circle" data-aos="fade-up">
                <div class="col-12 col-sm-6 d-flex justify-content-center">
                    <div class="service-image-circle entretenimiento-img"></div>
                </div>
                <div
                    class="col-12 col-sm-6 d-flex flex-column justify-content-center"
                >
                    <h4 class="service-section-title">Eventos</h4>
                    <p class="service-section-text mt-2">
                        Los mejores eventos en la mejor ubicación, disfruta de un fin de semana diferente con nostros.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-4 circle-box-margin">
            <div class="row box-service-circle" data-aos="fade-up">
                <div class="col-12 col-sm-6 d-flex justify-content-center">
                    <div class="service-image-circle comida-img"></div>
                </div>
                <div
                    class="col-12 col-sm-6 d-flex flex-column justify-content-center"
                >
                    <h4 class="service-section-title">Planes a Medida</h4>
                    <p class="service-section-text mt-2">
                        Porque aunque sea el mismo destino, tus acompañantes dictan tu viaje.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- WELCOME AND ABOUT US -->
<div class="about-box">
    <div class="image-gradient">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6">
                    <div class="col-12 about-mobile-position" data-aos="fade-up">
                        <h5 class="home-about-title">Viaja Venezuela</h5>
                        <p class="home-about-description">
                            Marketplace turístico nacional.
                        </p>
                        <p class="home-about-description">
                            La página web le brinda todas las comodidades a los turistas. 
                        </p>
                        <ul class="home-about-list">
                            <li>Catálogo de alojamiento en posadas, hoteles, apartamentos y casas vacacionales.</li>
                            <li>Alquiler de embarcaciones con servicio de comida y cava.</li>
                            <li>Selección de actividades y locales comerciales exclusivos.</li>
                        </ul>
                        <p class="home-about-description">
                            Permitiéndole seleccionar los servicios de su conveniencia y ofreciendo las mejores promociones, paquetes y eventos. Marketplace turístico nacional.
                        </p>
                        <button class="btn-home-about">Saber Más</button>
                    </div>
                </div>
                <div class="col-12 col-sm-6">
                    <div class="col-12 about-mobile-position" data-aos="fade-up">
                        <h5 class="home-about-title">Los Wachos</h5>
                        <p class="home-about-description">
                            mercadeo de servicios turísticos. 
En el Marketplace Viaja Venezuela el turista que utiliza nuestra plataforma para reservar su viaje y el hostelero junto a los otros proveedores de servicios turísticos nos otorga un porcentaje del costo del servicio por realizar la venta.
                        </p>
                        <p class="home-about-description">
                            En nuestra marca Wachos Marketing Media en el que ofrecemos servicios de marketing y contenido a las empresas que se dedican al turismo.
                        </p>
                        <button class="btn-home-about">Saber Más</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- TOURIST GUIDE -->
<div class="container mt-4">
    <div class="row">
        <div class="col-12">
            <h5 class="guide-title">Guía Turística</h5>
        </div>
        <div class="col-12 col-sm-4">
            <div class="col-12">
                <ul class="home-ul" data-aos="fade-up">
                    <li>
                        <a href="#"
                            >Farmacias</a
                        >
                    </li>
                    <li>
                        <a href="#"
                            >Centros Médicos</a
                        >
                    </li>
                    <li>
                        <a href="#"
                            >Veterinarias</a
                        >
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-12 col-sm-4">
            <div class="col-12">
                <ul class="home-ul" data-aos="fade-up">
                    <li>
                        <a href="#"
                            >Bodegones y Supermercados</a
                        >
                    </li>
                    <li>
                        <a href="#"
                            >Panaderías</a
                        >
                    </li>
                    <li>
                        <a href="#"
                            >Frutas y Verduras</a
                        >
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-12 col-sm-4">
            <div class="col-12">
                <ul class="home-ul" data-aos="fade-up">
                    <li>
                        <a href="#"
                            >Combos Favoritos</a
                        >
                    </li>
                    <li>
                        <a href="#"
                            >Licorerías</a
                        >
                    </li>
                    <li>
                        <a href="#"
                            >Restaurantes y Bares</a
                        >
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- ACTIVITIES IMAGES -->
<div class="container my-4">
    <div class="row">
        <div class="col-12">
            <h5 class="activities-title">Actividades</h5>
        </div>
        <div class="col-12 col-sm-4">
            <div class="col-12">
                <div class="activities-box surf-img" data-aos="fade-up">
                    <div class="activities-image-gradient"></div>
                    <div class="activities-box-hover">
                        <p>Kitesurf</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-4">
            <div class="col-12">
                <div class="activities-box beach-travel-img" data-aos="fade-up">
                    <div class="activities-image-gradient"></div>
                    <div class="activities-box-hover">
                        <p>Paseos</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-4">
            <div class="col-12">
                <div class="activities-box fishing-img" data-aos="fade-up">
                    <div class="activities-image-gradient"></div>
                    <div class="activities-box-hover">
                        <p>Pesca</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-4">
            <div class="col-12">
                <div class="activities-box relax-img" data-aos="fade-up">
                    <div class="activities-image-gradient"></div>
                    <div class="activities-box-hover">
                        <p>Conecta Con La Naturaleza</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-4">
            <div class="col-12">
                <div class="activities-box music-img" data-aos="fade-up">
                    <div class="activities-image-gradient"></div>
                    <div class="activities-box-hover">
                        <p>Música - Conciertos</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-4">
            <div class="col-12">
                <div class="activities-box volleyball-img" data-aos="fade-up">
                    <div class="activities-image-gradient"></div>
                    <div class="activities-box-hover">
                        <p>Deportes</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<img src="assets/images/wave.png" style="width: 100vw;">
<div class="container-fluid wave-box">
    <div class="row">
        <div class="col-12 col-sm-4">
            <div class="d-flex justify-content-center align-items-center">
                <img src="assets/images/turtle.png">
            </div>
        </div>

        <div class="col-12 col-sm-4">
            <div class="d-flex justify-content-center align-items-center">
                <img src="assets/images/wave_logo.png">
            </div>
        </div>

        <div class="col-12 col-sm-4" style="padding-right: 0px;">
            <div class="d-flex justify-content-end">
                <img src="assets/images/coral.png">
            </div>
        </div>
    </div>
</div>