<app-contact-slider></app-contact-slider>
<div class="container-fluid p-0">
    <div class="box-about-us">
        <div class="transparent-box-about-us">
            <h1>www.VIAJAVENEZUELAW.com</h1>
            <p>
                Plataforma digital cuya misión es mejorar el turismo en Venezuela,
                trayendo competencia directa al mercado y abarcando las distintas
                piezas del sector como lo es el transporte, alojamiento y
                actividades. El proyecto trae al país la posibilidad de cotizar
                planes personalizados para adaptarnos a los diferentes grupos
                viajeros.
            </p>
            <p>
                Es un marketplace que les muestra las mejores opciones del mercado
                en alojamiento, transporte y actividades a los turistas que desean
                visitar Moroocoy. Cada servicio tiene su precio expresando y
                posibilidad de solicitar tu reserva online, una vez se solicita la
                reserva, uno de los wachos se pone en contacto contigo para
                confirmar la reserva.
            </p>
            <p>
                La plataforma busca crear afluencia facilitando el acceso y
                entregando toda la información necesaria para cada destino a demas
                de diversas promociones, paquetes y eventos personalizados para cada
                público.
            </p>
        </div>
    </div>

    <div class="box-route">
        <div class="transparent-box-route">
            <h1 class="route-title">Abarcamos Todo El Recorrido De Compra</h1>
            <div class="d-flex justify-content-center">
                <h5 class="route-sub-title mt-4">Recorrido</h5>
            </div>

            <div class="specific-route-main-box mt-5">
                <div class="specific-route-box">
                    <h6 class="small-box-title">Reconocimiento</h6>
                    <p class="small-box-description">No significa que el prospecto sepa que tu servicio existe. En este momento, solo reconoce que tiene una necesidad.</p>
                </div>
                <div class="specific-route-box">
                    <h6 class="small-box-title">Consideración</h6>
                    <p class="small-box-description">Tu prospecto todavía no considera a tu servicio. Solo toma en cuenta las distintas opciones disponibles. En la etapa de consideración, las interacción temprana es importante. Tu deber es crear contenido sobre la solución a esa necesidad.</p>
                </div>
                <div class="specific-route-box">
                    <h6 class="small-box-title">Decisión</h6>
                    <p class="small-box-description">Tu prospecto ya definió la forma de abordar su problema. Busca confirmar que la decisión que va a tomar es la correcta. Aquí es donde tus perfiles y clientes venden por ti, los comentarios y reseñas de tu servicio son claves para que esos prospectos confirmen que esa compra es la correcta.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="box-forms">
        <div class="transparent-box-forms">
            <div class="forms-title-box">
                <h1 class="forms-title">Déjanos ocuparnos de la atracción de clientes para que tu puedas enfocarte en ti y la buena manutención de tu embarcación</h1>
            </div>

            <div class="specific-forms-main-box mt-5">
                <div class="specific-forms-box">
                    <h6 class="small-box-title-forms">Formulario de Peñeros</h6>
                    <img class="form-icon" src="assets/images/icons/form_icon.png">
                </div>
                <div class="specific-forms-box">
                    <h6 class="small-box-title-forms">Formulario de Lanchas</h6>
                    <img class="form-icon" src="assets/images/icons/form_icon.png">
                </div>
                <div class="specific-forms-box">
                    <h6 class="small-box-title-forms">Formulario de Yates</h6>
                    <img class="form-icon" src="assets/images/icons/form_icon.png">
                </div>
            </div>

            <div class="box-forms-terms">
                <h6 class="terms-title">Términos y Condiciones</h6>
                <p class="terms-description">Nosotros ganamos una comisión por venta, solo seremos beneficios para usted. Una vez que haya llenado el formulario nos pondremos en contacto con usted para firma una autorización donde nos permite encargarnos de la gestión de alquiler de su embarcación a cambio de una comisión acordada.</p>
                <h6 class="pdf-title">Modelo de contrato de renta diaria</h6>
                <img class="pdf-icon" src="assets/images/icons/pdf_icon.png">
            </div>
        </div>
    </div>

    <div class="box-forms">
        <div class="transparent-box-forms">
            <div class="forms-title-box">
                <h1 class="forms-title">Déjanos ocuparnos de la atracción de clientes para que tu puedas enfocarte en ti y la buena manutención de tu inmueble</h1>
            </div>

            <div class="specific-forms-main-box mt-5">
                <div class="specific-forms-box">
                    <h6 class="small-box-title-forms">Formulario de Casas</h6>
                    <img class="form-icon" src="assets/images/icons/form_icon.png">
                </div>
                <div class="specific-forms-box">
                    <h6 class="small-box-title-forms">Formulario de Apartamentos</h6>
                    <img class="form-icon" src="assets/images/icons/form_icon.png">
                </div>
            </div>

            <div class="box-forms-terms">
                <h6 class="terms-title">Términos y Condiciones</h6>
                <p class="terms-description">Nosotros ganamos una comisión por venta, solo seremos beneficios para usted. Una vez que haya llenado el formulario nos pondremos en contacto con usted para firma una autorización donde nos permite encargarnos de la gestión de alquiler de su inmueble a cambio de una comisión acordada.</p>
                <h6 class="pdf-title">Contrato de Renta Temporal</h6>
                <img class="pdf-icon" src="assets/images/icons/pdf_icon.png">
            </div>
        </div>
    </div>

    <div class="box-join-us">
        <div class="transparent-box-join-us">
            <div class="d-flex flex-column justify-content-between h-100">
                <div>
                    <div class="d-flex justify-content-center">
                        <img class="img-fluid join-us-wachos-img" src="assets/images/logos/w3.png">
                    </div>
                    <h1 class="join-us-title">Los Wachos buscamos atraer afluencia, facilitando la adquisición de servicios turísticos, entregando toda la información necesaria para cada destion y organizando los mejores eventos.</h1>
                </div>
                <div class="d-flex flex-column align-items-center">
                    <button class="btn contact-btn">Ser un Wacho</button>
                    <p class="join-us-text">Nuestra página web está diseñada para ayudar a los servicios turísticos a llegar a su cliente ideal para que los mismo solo se dediquen a mejorar sus servicios.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="box-story">
        <h1 class="story-title">Los Wachos</h1>
        <p class="story-text">Los Wachos nos dedicamos al mercadeo de servicios turísticos.</p>
        <p class="story-text">En la plataforma Viaja Venezuela el turista que utiliza nuestra plataforma para reservar su viaje y hotel junto a los otros proveedores de servicios turísticos nos otorga un porcentaje del costo dle servicio por realizar la venta.</p>
        <p class="story-text">En nuestra marca Wachos Marketing Media en el que ofrecemos servicios de marketing y contenido a las empresas que se dedican al turismo y la hostelería</p>
        <br><br>
        <p class="story-text">Nuestro trabajo es hallar a los mejores servicios turísticos de cada destino, crear contenido de calidad sobre los mismos, organizar eventos que atraigan turistas y promocionar TODO, a través de redes sociales, nuestra comunidad y por www.viajavenezuelaw.com</p>
    </div>

    <div class="box-requirements">
        <div class="box-requirements-split">
            <div class="requirement-element requirement-element-info">
                <h1 class="requirements-title">Ser un Wacho</h1>
                <div class="requirement-list-element">
                    <p class="requirements-subtitle">Requisitos</p>
                    <p class="requirements-text">Debes saber disfrutar el momento, ser amable y respetuoso. Siempre con buena actitud, vivir para disfrutar cada día!</p>
                </div>
                <div class="requirement-list-element">
                    <p class="requirements-subtitle">El Trabajo</p>
                    <p class="requirements-text">Debes captar las mejores opciones de servicios turísticos y hacerte responsable por los mismos ya sea que tu prestes el servicio o solo lo captes.</p>
                </div>
                <div class="requirement-list-element">
                    <p class="requirements-subtitle">Beneficios</p>
                    <ul class="benefits-list">
                        <li>Crear una nueva vía de ingresos pasivos, sin límite de ganancia.</li>
                        <li>Posibilidad de promocionar tus proyectos y servicios.</li>
                        <li>Descuentos y formas de pago faborables en los servicios que se ofrecen en nuestra página.</li>
                    </ul>
                </div>

                <div class="d-flex flex-column align-items-center">
                    <p class="message-leave-info">Deja tus datos y nos pondremos en contacto contigo</p>
                    <button class="btn contact-btn">Me Interesa</button>
                </div>
            </div>
            <div class="requirement-element main-image-requirements"></div>
        </div>
    </div>

    <div class="box-relax">
        <div class="relax-info">
            <h1 class="relax-title">Relájate y recibe reservaciones</h1>
            <p class="relax-text">Al recibir una solicitud de reserva en nuestra página, te llegará un correo de "Solicitud de Reserva" en este se reflejarán las fecha y el servicio deseado. En el mismo correo tendrán la opción de aceptar dicha reserva, haciéndonos llegar la notificación de la misma.</p>
            <br>
            <p class="relax-text">En el caso de no tener una pronta respuesta, buscaremos comunicarnos contigo por otras vías disponibles, de no tener respuesta o disponibilidad procederemos a llamar al cliente para informarle y mostrarle nuevas opciones.</p>
            <br>
            <div class="d-flex justify-content-center">
                <button class="btn contact-btn">Me Interesa</button>
            </div>
        </div>
        <div class="text-center">
            <img src="assets/images/contact/communication_icons.png" class="img-fluid relax-icons">
        </div>
    </div>
</div>
