.plan-type-title {
    font-family: "Roboto", sans-serif;
    margin: 0px;
    color: black;
    text-align: center;
}

.plan-type-subtitle {
    font-family: "Roboto", sans-serif;
    margin: 0px;
    color: black;
    text-align: center;
}

.plan-type-circle {
    text-align: center;
    height: 200px;
    width: 200px;
    padding: 20px;
}

.animation-zoomIn {
    animation: zoomIn;
    animation-duration: 1.2s;
}

.text-type {
    font-family: "Roboto", sans-serif;
    margin: 0px;
    font-size: 18px;
    color: black;
}

.hide-element {
    display: none;
}

.bounce-exit-animation {
    animation: bounceOut;
    animation-duration: 0.7s;
    animation-iteration-count: infinite;
}

.question-people {
    font-family: "Roboto", sans-serif;
    margin-right: 10px;
    font-size: 18px;
}

.custom-day {
    text-align: center;
    padding: 0.185rem 0.25rem;
    display: inline-block;
    height: 2rem;
    width: 2rem;
}
 NgbDatepickerModule    
.custom-day.focused {
    background-color: #e6e6e6;
}

.custom-day.range,
.custom-day:hover {
    background-color: #cc0000;
    color: white;
}

.custom-day.faded {
    background-color: rgba(204, 0, 0, 0.5);
}

::ng-deep .ngb-dp-arrow-btn {
    color: #cc0000 !important;
}

@media screen and (min-width: 576px) and (max-width: 1000px) {
    .plan-type-circle {
        height: 150px;
        width: 150px;
    }

    .text-type {
        font-size: 15px;
    }
}
