<div class="destination-box container">
    <div class="row" (click)="onToggleCardDetails($event)">
        <div class="col-5 col-md-2 p-1">
            <div class="info-card-main-image" [ngStyle]="{ 'background-image': 'url(' + destination.imageUrl + ')' }"></div>
        </div>
        <div class="col-7 col-md-10">
            <div class="row">
                <div class="col-12 col-md-7">
                    <div class="card-body-left">
                        <h5 class="card-body-title">{{ destination.name }}</h5>
                        <table>
                            <tr>
                                <td class="text-center pt-2">
                                    <i class="fas fa-map-marker-alt"></i>
                                </td>
                                <td class="pt-2">
                                    <p class="card-body-destination">{{ destination.destination }}</p>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-center pt-1">
                                    <i class="fa fa-home" aria-hidden="true"></i>
                                </td>
                                <td class="pt-1">
                                    <p class="card-body-type">{{ destination.type }}</p>
                                </td>
                            </tr>
                        </table>
                        <button class="btn btn-main mt-3 show-map-btn" (click)="onToggleMap()">{{ (isMapOpened) ? 'Ocultar' : 'Mostrar' }} Mapa</button>
                        <button class="btn btn-main mt-3 show-map-btn-mobile" (click)="onToggleMapMobile()">Mostrar Mapa</button>
                    </div>
                </div>
                <div class="col-12 col-md-5 p-0">
                    <div class="card-body-right">
                        <p class="card-body-services-title">Servicios</p>   
                        <div class="d-flex justify-content-between">
                            <div class="d-flex flex-column justify-content-center align-items-center" *ngFor="let service of destination.services.slice(0, 5)">
                                <i [classList]="[service.iconClass]" aria-hidden="true"></i>
                                <p class="card-body-services-description">{{ service.type }}</p>
                            </div>
                        </div>
                        <p class="card-body-price-title">Precio Por Noche</p>
                        <p class="card-body-price-description">USD {{ destination.basePrice }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row details-box" *ngIf="isCardOpened">
        <div class="col-12">
            <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs mt-2">
                <li [ngbNavItem]="1">
                    <a ngbNavLink class="tab-title">Información</a>
                    <ng-template ngbNavContent>
                        <p class="tab-description mb-2">{{ destination.description }}</p>
                    </ng-template>
                </li>
                <li [ngbNavItem]="2" *ngIf="images.length > 0">
                    <a ngbNavLink class="tab-title">Galería</a>
                    <ng-template ngbNavContent>
                        <gallery [items]="images" thumbPosition="bottom" class="mb-3"></gallery>
                    </ng-template>
                </li>
                <li [ngbNavItem]="3">
                    <a ngbNavLink class="tab-title">Servicios</a>
                    <ng-template ngbNavContent>
                        <div class="container mb-3">
                            <div class="row">
                                <div class="col-4 col-sm-2 text-center mt-2" *ngFor="let service of destination.services">
                                    <i [classList]="[service.iconClass]"></i>
                                    <p class="card-body-services-description">{{ service.type }}</p>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </li>
            </ul>

            <div [ngbNavOutlet]="nav" class="mt-2"></div>
        </div>
    </div>
</div>