.contact-carousel-image {
    width: 100%;
    height: 600px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}

.btn-carousel {
    border: 1px solid white;
    padding: 10px 20px;
    background-color: transparent;
    color: white;
    margin-bottom: 20px;
    transition: 0.2s;
}

.btn-carousel:hover {
    background-color: rgba(0, 0, 0, 0.2);
    transform: scale(1.02);
}

::ng-deep .carousel-indicators li {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #042d62;
}

@media screen and (max-width: 990px) {
    .contact-carousel-image {
        height: 400px;
        background-size: cover;
    }
}
