<form style="padding: 10px; box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px; ">
    <div class="row">
        <div class="col-12 col-sm-4">
            <div class="form-group">
                <div class="inner-addon left-addon">
                    <i class="fa fa-search color-base" aria-hidden="true"></i>
                    <input type="text" class="form-control input-base" placeholder="Nombre" />
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-4">
            <div class="form-group" style="background-color: orange;">
                <div class="inner-addon left-addon">
                    <i class="fa fa-map-marker color-base" aria-hidden="true"></i>
                    <select class="custom-select input-base">
                        <option selected>Destino</option>
                        <option value="1">Morrocoy</option>
                        <option value="2">Los Roques</option>
                        <option value="3">Margarita</option>
                        <option value="4">La Guaira</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-4">
            <div class="btn-group w-100" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-main">Todos</button>
                <button type="button" class="btn btn-main-unselected">Hotel</button>
                <button type="button" class="btn btn-main-unselected">Posada</button>
            </div>
        </div>

        <div class="col-12 col-sm-4">
            <div class="form-group slider-box mobile-margin">
                <label class="slider-label">Precio mínimo por noche:</label>
                <label class="slider-label-result">$ 1.000,00</label>
                <div class="slidecontainer pt-3">
                    <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-4">
            <div class="form-group slider-box">
                <label class="slider-label">Precio máximo por noche:</label>
                <label class="slider-label-result">$ 1.000,00</label>
                <div class="slidecontainer pt-3">
                    <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-4">
            <button type="button" class="btn btn-main w-100">Buscar</button>
        </div>
    </div>
</form>
